**/node_modules
flow-typed
out
**/.DS_Store
**/.idea
**/build
.tmp
.stage
**/.env
**/yarn-error.log
**/npm-debug.log*
**/lerna-debug.log
uidev/lib
**/*.tsbuildinfo
.dockerignore
Dockerfile
**/.git*
**/*.md
**/server*.log
recipes/archives
packages/forms/lib
packages/theme/lib
packages/ui/lib
tmp-out/
