.all-contributorsrc
.devcontainer
.dockerignore
.editorconfig
.husky/
.stage
.tmp
.vscode
**/.DS_Store
**/.env
**/.git*
**/.idea
**/*.md
**/*.tsbuildinfo
**/build
**/node_modules
**/npm-debug.log*
**/.pnpm-debug.log
**/server*.log
**/yarn-error.log
Dockerfile
flow-typed
out
recipes/archives
tmp-out/
docs/
src/internal-server/database/tmp/
src/internal-server/database/development.sqlite
src/internal-server/database/adonis.sqlite
src/internal-server/recipes/
src/internal-server/public/terms.html
src/internal-server/public/privacy.html
src/internal-server/user_data/
**/.env
