[submodule "recipes"]
	path = recipes
	url = git@github.com:getferdi/recipes.git
	ignore = all
[submodule "src/server"]
	path = src/server
	url = git@github.com:getferdi/internal-server.git
	ignore = all
