@import './config.scss';

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
  display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
  display: swap;
}
