$raw-theme-brand-primary: '114,102,240';
$raw-theme-brand-success: '92,184,92';
$raw-theme-brand-info: '91,192,222';
$raw-theme-brand-warning: '255,159,0';
$raw-theme-brand-danger: '217,83,79';
$raw-theme-gray-dark: '55,58,60';
$raw-theme-gray: '85,89,92';
$raw-theme-gray-light: '129,138,145';
$raw-theme-gray-lighter: '236,238,239';
$raw-theme-gray-lightest: '247,247,249';
$raw-theme-border-radius: 6px;
$raw-theme-border-radius-small: 3px;
$raw-theme-sidebar-width: 68px;
$raw-theme-text-color: '55,58,60';
$raw-theme-transition-time: 0.5s;
$raw-theme-inset-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.03);
$raw-dark-theme-black: '26,26,26';
$raw-dark-theme-gray-darkest: '30,30,30';
$raw-dark-theme-gray-darker: '45,47,49';
$raw-dark-theme-gray-dark: '56,58,59';
$raw-dark-theme-gray: '71,73,75';
$raw-dark-theme-gray-light: '81,83,85';
$raw-dark-theme-gray-lighter: '138,139,139';
$raw-dark-theme-gray-lightest: '255,255,255';
$raw-dark-theme-gray-smoke: '206,208,209';
$raw-dark-theme-text-color: '255,255,255';
