%headline {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1px;

  a {
    color: #fff;
  }
}

%headline__dark {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1px;

  a {
    color: #fff;
  }
}
