@use './globals.scss';
@use './config.scss' as *;

$sidebar-width: 75px;
$sidebar-bias: 28px;
$tabitem-bias: 30px;

.sidebar {
  width: 100vw;
  height: $sidebar-width;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  padding-bottom: 0px;
  overflow: hidden !important;

  &::after {
    top: -10px;
    right: -10px;
    bottom: 0;
    left: -10px;
    clip-path: inset(10px 10px 0 10px);
  }

  > div:first-of-type {
    overflow-x: scroll !important;
    width: 100%;
  }

  .tabs {
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;

    .tab-item {
      &.is-active {
        overflow: hidden;
        height: $sidebar-width;
      }

      &.is-label-enabled {
        min-width: 100px;
        max-width: 100px;
        height: $sidebar-width + 10;
        width: max-content !important;
        overflow: hidden;
      }

      .tab-item__icon {
        margin-left: 0;
      }

      &__label {
        padding: 0;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
  div {
    overflow: hidden !important;
  }

  .sidebar__button:first-of-type {
    height: 100%;
    box-shadow: -4px 0px 4px 0px $theme-gray-lightest;
  }

  .sidebar__button--workspaces.is-active {
    background-color: #f7f7f9;
    box-shadow: -4px 0px 4px 0px $theme-gray-lightest;
  }
}

.app .app__content {
  padding-top: $sidebar-width + $sidebar-bias;
}

.workspaces-drawer {
  overflow: hidden;
  position: relative;
}

.theme__dark {
  .sidebar .sidebar__button--workspaces.is-active {
    background-color: #2d2f31;
  }
}

.darwin .sidebar {
  height: $sidebar-width + $sidebar-bias;

  .sidebar__button--workspaces.is-active {
    height: $sidebar-width - $sidebar-bias;
  }
  .tab-item .is-label-enabled {
    height: $sidebar-width + $tabitem-bias;
  }
}
