<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ferdi-internal-server</title>

  {{ style('css/vanilla') }}
  {{ style('css/main') }}
</head>

<body>
    <img src='images/logo.png' width='300' />
    @!section('content')
</body>

</html>
