name: Publish to Reddit

on:
  release:
    types: [released]

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Release for Reddit
        uses: bluwy/release-for-reddit-action@v2
        with:
          username: ${{ secrets.REDDIT_USERNAME }}
          password: ${{ secrets.REDDIT_PASSWORD }}
          app-id: ${{ secrets.REDDIT_APP_ID }}
          app-secret: ${{ secrets.REDDIT_APP_SECRET }}
          subreddit: ferdium # Submit to /r/ferdium
          title: '[Release] Ferdium ${{ github.event.release.tag_name }}'
          # flair-id: "7aa4f288-bf0d-11ec-a939-8e36666e1f23"
          comment: '${{ github.event.release.body }}'
          notification: true
